{% extends "base.html" %}
{% block includes %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/BreadCrumb.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/directory.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/directory.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/iconOverrides.css"/>
{% endblock %}
{% block app_content %}
<div id="nav-main">
	<div id="nav-wrap">
	<div id="search">
		<span>Search</span>
		<input id="search-text" type="text" size="15"/>
	</div>
	<div id="breadcrumb"></div>
</div>
</div>

<div id="wrap">
  <div id="search-overlay"></div>
  {% include "folders.html" %}
</div>
{% endblock %}
