.directories-container {
	
}

.directory-item {
	margin: 5px;
	float: left;
	height: 160px;
	width: 150px;
	text-align: center;
	background-image: url(/static/images/icons/folder.png);
	background-position: center 20px;;
	background-repeat: no-repeat;
}

.directory-item :hover {
	background-image: url(/static/images/icons/folder.png);
	background-position: center 20px;
	background-repeat: no-repeat;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	background-color: #F1F1FF;
}

.dir-name{
	font-size: 12px;
	height: 15px;
	background: none !important;
	text-align: center;
	padding-top:115px;
}

.file-link, .dir-link {	
	display: block;
	height: 100%;
	color: #999;
}


.file-item {
	margin: 5px;
	float: left;
	height: 160px;
	width: 150px;
	text-align: center;
	background-image: url(/static/images/icons/default.png);
	background-position: center 20px;;
	background-repeat: no-repeat;
}

.file-item :hover {
	background-image: url(/static/images/icons/default.png);
	background-position: center 20px;
	background-repeat: no-repeat;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	background-color: #F1F1FF;
}

.file-name{
	font-size: 12px;
	height: 15px;
	background: none !important;
	text-align: center;
	padding-top:115px;
}


#breadcrumb {
	display: inline-block;
	float: left;
}


#search {
	display: inline-block;
	margin-bottom: 10px;
	padding-left: 10px;
	float: right;
	min-width: 20px;
}
#search input {
	border: 1px solid #aaa;
	font-size: 10pt;
	padding: 5px;
	min-width: 150px;
}

#search span {
	color: #888;
}

#search-overlay {
	position: absolute;
	display: none;
	background-color: white;
	z-index: 10;
	width: 100%;
  -webkit-box-shadow: 0px 0px 10px #ccc;
  -moz-box-shadow: 0px 0px 10px #ccc;
  -o-box-shadow: 0px 0px 10px #ccc;
  box-shadow: 0px 0px 10px #ccc;
}

.link-disabled {
	color: black !important;
}

#dir-tools {
	margin-right: 10px;
	margin-bottom: 5px;
}
.clearfix {
	clear: both;
}

#directories-list {

}

