html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {

  height: 100%;
  	margin: 0;
	padding: 0;
}

.clearfix {
  clear: both;
}

#wrap {
	max-width: 960px;
	margin: 0 auto;
  min-height: 75%
}

a {   
  color: #297ACC;
  text-decoration: none;
}
a:hover {
  color: #669999;
}

#main {
	position: relative;
	min-height: 65%;
}

footer {
}

#org-logo {
  width: 120px;
  height: 80px;
  float: right;
}

#powered-by {
  float: left;
}

#branding {
  margin: 25px 0px 20px 0px;
  font-size: 16pt;
  line-height: 1.5em;
  color: #888;
  font-family: Arial;
}

#head-logo {
  font-family: Arial;
  color: #fff;
  font-size: 25px;

}

#head-logo:hover {
  color: #E7E7E7;
}
#header-main{
	background-color:black;
	min-height: 80px;
	  padding-top: 20px;
	 border-bottom: solid 5px #DFDFDF;
}
#header-wrap{
	max-width: 960px;
	margin: 0 auto;
}
h1{
margin: 0;
}
#nav-main{
	  padding-top: 5px;
	  margin-bottom: 85px;
}
#nav-wrap{
	max-width: 960px;
	margin: 0 auto;
}

.toolbox-item{
	float: right;
	background-color: lightGrey;
	color: white;
}

.toolbox-item a{
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
color: white;
background: lightGrey;
}

.toolbox-item a:hover{
background: grey;
}

