<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
		{% block includes %}
		{% endblock %}
    <title>SM Explorer</title>
  </head>
	<body>
		<div id="wrap">
			<header>
      <a id="head-logo" href="{{ SITE_PREFIX }}/"><h1>SM Explorer</h1></a>
			</header>
			<section id="main">
			{% block app_content %}
			{% endblock %}
			</section>
		</div>
    <footer>
      <a href="http://opensource.jiitu.org">
        <img id="org-logo" src="{{ STATIC_URL }}images/org_logo.png"/>
      </a>  
      <div class="clearfix"/>
		</footer>
  </body>
</html>
